 
<div class="breadcrumbs-blog">
{% include nav-breadcrumbs.html %}
</div>
   <div id="content">
  <div class="container-fluid m-0 p-0 bg-pennymac-gray-lightest d-none d-xl-block blog-banner-img">
               <div class="container banner-image p-0">
                  <figure class="m-0 p-0">
                     <picture>
                        <source media="(max-width:768px)" srcset="/assets/images/about-us.webp" type="image/webp">
                        <source media="(min-width: 769px)" srcset="/assets/images/about-us.webp 1x, /assets/images/about-us@2x.webp 2x" type="image/webp">
                        <source media="(max-width:768px)" srcset="/assets/images/about-us.jpg" type="image/jpg">
                        <source media="(min-width: 769px)" srcset="/assets/images/about-us.jpg 1x, /assets/images/about-us@2x.jpg 2x" type="image/jpg">
                        <img src="/assets/images/about-us.jpg" class="figure-img img-fluid m-0 p-0" style="width:100%;" alt="PennyMac is the lender you can call home." aria-hidden="true"> 
                     </picture>
                  </figure>
               </div>
            </div>
			
			<div class="container"> <div class="row"> <div class="col-12"> <h1 class="box mt--6 display-4 text-primary"><span class="box-wrap"><span class="box-inner">A different kind <br class="d-none d-lg-block">of mortgage provider</span></span></h1> </div> </div> </div>
			
			</div>