<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, , minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name = "format-detection" content = "telephone=no">
    <meta name="msvalidate.01" content="815FC2F9EB110AB237416224772A4A5B">
    <title>Sample Modal Page</title>
    <!-- FontAwesome --> 
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	  <link href="/assets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.pennymacusa.com/assets/stylesheets/2.0.0/bricks.min.css">
    <link rel="stylesheet" href="https://www.pennymacusa.com/assets/stylesheets/usa.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
	 <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

  
  
    {{ content }}
  </body>
</html>